<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; arigata9 2021</p>
      <p class="m-0 text-center text-white">Sourcecode located <a href="https://github.com/arigata9/s1fftweet" target="_blank">here</a></p>
    </div>
    <!-- /.container -->
</footer>